/**
 * Global Styles
 */

a {
    outline: none;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

p {
    margin-block-start: 0;
}

a, a:hover, a:focus {
    outline: none;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.single-event {
    overflow-x: hidden;
}

.eem-force-full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}


.eem-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.eem-spacer {
    padding: 100px 0;
}

.bg-gray {
    background-color: #f5f5f5;
}

.bg-white {
    background-color: #fff;
}

.eem-event-section:not(.bg-white) {
    background-color: #f5f5f5;
}

.bg-black {
    background-color: #1a1a1a;
}

.color-white {
    color: #fff;
}

.text-center {
    text-align: center;
}

.eem-btn {
    padding: 14px 17px;
    line-height: 1;
    text-align: center;
    background-color: #e91e63;
    color: #fff;
    min-width: 120px;
    display: inline-block;
    border: 0;
    border-radius: 40px;
    transition: 0.3s;
}

.eem-btn:hover, .eem-btn:focus, .eem-btn:visited, .eem-btn:active {
    color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    background-color: #7037b6;
    background-image: inherit;
}

.eem-btn-large {
    padding: 21px 30px;
    min-width: 176px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
}

.eem-btn-round {
    border-radius: 4px;
}

.view-more .eem-btn {
    margin-top: 40px;
}

.single-event h1:not(.site-title):before,
.single-event h2:before {
    display: none !important;
}

.single-event a {
    text-decoration: none !important;
}

.single-event input:focus, input[type="text"]:focus,
.single-event input[type="email"]:focus,
.single-event input[type="url"]:focus,
.single-event input[type="password"]:focus,
.single-event input[type="reset"]:focus,
.single-event input[type="search"]:focus,
.single-event textarea:focus,
.single-event select:focus {
    border-color: #7037b6;
    outline: none;
    box-shadow: none;
}

.single-event .row > [class*="col-"] {
    width: 100%;
}


/**
* Section Heading
*/

.eem-section-heading {
    margin-bottom: 55px;
    text-align: center;
}

.eem-section-heading .eem-sh-tagline {
    margin-bottom: 0;
    font-style: italic;
    color: #999;
    font-size: 18px;
}

.eem-section-heading .eem-sh-title {
    font-size: 52px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 11px;
}


.eem-section-heading .eem-sh-subtitle {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    line-height: 1.6;
    color: #999;
}


/**
* Banner Style 1
*/

.eem-banner-style-1 {
    padding: 150px 0;
    position: relative;
    z-index: 10;
}

.eem-banner-style-1:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c004c;
    opacity: 0.8;
    z-index: -1;
}

.eem-banner-style-1 .eem-banner-wrap {
    max-width: 800px;
}

.eem-banner-style-1 .eem-banner-sub-title {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    line-height: 1.4;
}

.eem-banner-style-1 .eem-banner-title {
    font-size: 62px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 35px;
    line-height: 1.2;
}


.eem-countdown-timer {
    margin-bottom: 50px;
}

.eem-countdown-timer > span {
    display: inline-block;
    margin: 20px 20px 0 0;
}

.eem-countdown-timer .count-text {
    text-align: center;
    display: block;
    margin-top: 7px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.eem-countdown-timer > span > .count-number {
    display: block;
    font-size: 34px;
    text-align: center;
    min-width: 110px;
    min-height: 110px;
    line-height: 108px;
    border-radius: 50%;
    font-weight: 600;
    color: #fff;
    background-color: #E91E63;
    background-image: linear-gradient(30deg, #E91E63 11%, #5828bb 83.4%);
}


/**
* Speaker Style 1
*/

.eem-speaker-style-1 .eem-speaker-single {
    background-color: #E91E63;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(30deg, #E91E63 11%, #5828bb 83.4%);
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: 0 20px 40px -5px rgba(9, 30, 66, .3);
    margin-bottom: 30px;
}

.eem-speaker-style-1 .eem-speaker-single:hover {
    box-shadow: 0 20px 40px -5px rgba(9, 30, 66, .5);
    transform: translateY(-4px);
}

.eem-speaker-style-1 .speaker-img {
    margin-bottom: 15px;
}

.eem-speaker-style-1 .speaker-img img {
    border-radius: 50%;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 12px 0 #ececec;
}

.eem-speaker-style-1 .speaker-name {
    color: #fff;
    font-size: 18px;
    line-height: normal;
    margin-bottom: 2px;
}

.eem-speaker-style-1 .speaker-designation {
    color: rgba(255, 255, 255, 0.61);
    margin-bottom: 5px;
}

.eem-speaker-style-1 .speaker-social i {
    color: #fff;
    padding: 2px;
    transition: 0.3s;
}

.eem-speaker-style-1 .speaker-social i:hover {
    color: rgba(255, 255, 255, 0.5);
}

/**
* Pricing 1
*/

.eem-pricing-style-1 .eem-pricing-plan {
    position: relative;
    background-color: #fff;
    padding: 45px 30px;
    border-radius: 10px;
    box-shadow: 0 20px 40px -5px rgba(9, 30, 66, .3);
    margin: 30px 0 60px;
    z-index: 10;
    transition: 0.3s;
}

.eem-pricing-style-1 .eem-pricing-plan:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    background-color: #fff;
    height: calc(100% + 1px);
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 12px;
}

.eem-pricing-style-1 .eem-pricing-plan:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% - 60px);
    background-image: linear-gradient(-30deg, #e91e63 11%, #5828bb 83.4%);
    height: calc(100% + 59px);
    transform: translate(-50%, -50%);
    z-index: -2;
    border-radius: 20px;
}

.eem-pricing-style-1 .pricing-head {
    text-align: center;
}

.eem-pricing-style-1 .pricing-head .price {
    font-size: 42px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 12px;
}

.eem-pricing-style-1 .pricing-title {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 30px;
}

.eem-pricing-style-1 .pricing-duration {
    position: relative;
    z-index: 10;
    padding: 13px;
    line-height: 1;
    background-color: #673AB7;
    margin: 0 -30px 30px;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(30deg, #673AB7 11%, #9C27B0 83.4%);
}

.eem-pricing-style-1 .pricing-duration:before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #9C27B0;
    background-image: linear-gradient(30deg, #9C27B0 11%, #673AB7 83.4%);
    opacity: 0;
    width: 0;
    transition: 0.4s;
}

.eem-pricing-style-1 .eem-pricing-plan:hover .pricing-duration:before {
    width: 100%;
    opacity: 1;
}

.eem-pricing-style-1 .pricing-content {
    position: relative;
}

.eem-pricing-style-1 .pricing-content .pricing-icon {
    margin-right: 10px;
    position: absolute;
    top: 63%;
    transform: translateY(-50%);
    right: -10px;
}

.eem-pricing-style-1 .pricing-content .pricing-icon > i {
    font-size: 150px;
    color: rgba(19, 19, 19, 0.09);
}

.eem-pricing-style-1 .pricing-content > ul {
    margin-bottom: 30px;
    margin-left: 17px;
}

.eem-pricing-style-1 .pricing-content > ul li {
    list-style: none;
    position: relative;
    padding-left: 30px;
    margin: 7px 0;
}

.eem-pricing-style-1 .pricing-content > ul li:before {
    content: '\eed8';
    position: absolute;
    font-family: IcoFont;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    background: #4CAF50;
    color: #ffff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 22px;
    text-indent: 0.5px;
}

.eem-pricing-style-1 .pricing-content > ul li.not-in {
    text-decoration: line-through;
    color: #bbb;
}

.eem-pricing-style-1 .pricing-content > ul li.not-in:before {
    content: '\eee4';
    background-color: #e91e63;
}

.eem-pricing-style-1 .pricing-footer {
    text-align: center;
}

.eem-pricing-style-1 .pricing-footer > a {
    padding: 14px 22px;
    line-height: 1;
    text-align: center;
    background-color: #e91e63;
    color: #fff;
    min-width: 120px;
    display: inline-block;
    border-radius: 40px;
    transition: 0.3s;
}


.eem-pricing-style-1 .pb-row {
    -ms-flex-align: center;
    align-items: center;
}

.eem-pricing-style-1 .eem-pricing-plan.is-featured {
    padding: 90px 30px;
}

.eem-pricing-style-1 .eem-pricing-plan.is-featured .pricing-duration {
    padding: 18px;
}

.eem-pricing-style-1 .pricing-footer > a:hover,
.eem-pricing-style-1 .pricing-footer > a:focus {
    box-shadow: 0 10px 30px #ddd;
    background-color: #7037b6;
}

.eem-pricing-style-1 .eem-pricing-plan.is-featured:before {
    background-color: #3e028c;
}
.eem-pricing-style-1 .is-featured .pricing-head .price,
.eem-pricing-style-1 .is-featured .pricing-content > ul,
.eem-pricing-style-1 .is-featured .pricing-title {
    color: #fff;
}

.eem-pricing-style-1 .is-featured .pricing-content .pricing-icon > i {
    color: rgba(255, 255, 255, 0.1);
}

.eem-pricing-style-1 .is-featured .pricing-footer > a:hover {
    box-shadow: 0 10px 30px #131313;
}

/**
* Attendees
*/

.eem-attendees-style-1 .eem-attendees-single {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    transition: 0.3s;
    margin-bottom: 30px;
    border-bottom: 4px solid #e91e63;
}

.eem-attendees-style-1 .eem-attendees-single .eem-attendees-img img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 6px;
    background-color: #ddd;
    box-shadow: inset 0 0 12px 0 #eee;
}

.eem-attendees-style-1 .eem-attendees-name {
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    color: #3a3a3a;
    margin-top: 15px;
}

.eem-attendees-style-1 .eem-attendees-single:hover {
    box-shadow: 0 20px 40px -5px rgba(9, 30, 66, .3);
    transform: translateY(-4px);
}

.eem-attendees-style-1 .eem-attendees-name a {
    color: #3a3a3a;
}

.eem-attendees-style-1 .eem-attendees-name a:hover,
.eem-attendees-style-1 .eem-attendees-name a:focus {
    color: #3e028c;
}

/**
* Sponsors
*/

.eem-sponsors-style-1  .sponsors-single {
    background: #fff;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #eee;
    text-align: center;
    transition: 0.3s;
}

.eem-sponsors-style-1  .sponsors-single:hover {
    box-shadow: 0 20px 40px -5px rgba(9, 30, 66, .3);
    transform: translateY(-4px);
}


/**
* Gallery
*/

.eem-gallery-style-1 .gallery-single {
    position: relative;
    z-index: 10;
}

.eem-gallery-style-1 .gallery-single:before {
    content: '';
    width: calc( 100% - 40px );
    height: calc( 100% - 40px );
    position: absolute;
    left: 0;
    top: 20px;
    background-color: #E91E63;
    background-image: linear-gradient(30deg, #E91E63 11%, #5828bb 83.4%);
    opacity: 0;
    transition: 0.3s;
}

.eem-gallery-style-1 .gallery-single:hover:before {
    left: 20px;
    opacity: 0.75;
}

.eem-gallery-style-1 .gallery-zoon-icon {
    display: inline-block;
    outline: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 0;
    transition: 0.3s;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 87px;
}

@keyframes scaleZoom {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1.1);
    }
}

.eem-gallery-style-1 .gallery-zoon-icon i {
    font-size: 52px;
    color: #fff;
    position: relative;
}


.eem-gallery-style-1 .gallery-zoon-icon i:after {
    content: '\efc2';
    font-size: 18px;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 0.4s;
    overflow: hidden;
    animation: scaleZoom linear 0.8s infinite;
    animation-direction: alternate-reverse;
    margin-top: -14px;
    margin-left: -12px;
}

.eem-gallery-style-1 .gallery-single:hover .gallery-zoon-icon {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg);
}


/**
* Event Calltoaction/cta
*/

.eem-cta-style-1 {
    position: relative;
    z-index: 10;
    padding: 130px 0;
    background-color: #E91E63;
    background-image: linear-gradient(35deg, #E91E63 11%, #5828bb 83.4%);
}

.eem-cta-style-1:before {
    content: '';
    position: absolute;
    top: 0;
    right: -9px;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: block;
    background-image: url(../../../assets/images/cta_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.4;
}

.eem-cta-style-1 .eem-cta-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eem-cta-style-1 .eem-cta-content {
    max-width: calc(100% - 260px);
}

.eem-cta-style-1 .eem-cta-title {
    font-size: 42px;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 13px;
}

.eem-cta-style-1 .eem-cta-desc {
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.72);
}

.eem-cta-style-1 .eem-cta-desc:last-child {
    margin-bottom: 0;
}

.eem-cta-style-1 .eem-cta-button > a {
    padding: 20px 17px;
    line-height: 1;
    text-align: center;
    background-color: #e91e63;
    color: rgba(255, 255, 255, 0.8);
    min-width: 162px;
    display: inline-block;
    border-radius: 40px;
    transition: 0.3s;
    font-weight: 600;
}

.eem-cta-style-1 .eem-cta-button > a:hover,
.eem-cta-style-1 .eem-cta-button > a:focus {
    box-shadow: 0 10px 30px #131313;
    background-color: #7037b6;
}


/**
* Blog Post
*/

.eem-blog-style-1 .post-item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 20px 40px -5px rgba(9, 30, 66, .1);
    margin-bottom: 30px;
}

.eem-blog-style-1 .post-item:hover {
    box-shadow: 0 20px 40px -5px rgba(9, 30, 66, .4);
    transform: translateY(-4px);
}

.eem-blog-style-1 .post-meta {
    font-size: 14px;
    color: #666;
    margin-bottom: 7px;
}
.eem-blog-style-1 .post-meta a {
    color: #666;
}

.eem-blog-style-1 .post-meta i {
    color: #e91e63;
    font-size: 16px;
}

.eem-blog-style-1 .post-meta > * {
    margin-right: 15px;
    margin-bottom: 15px;
}

.eem-blog-style-1 .post-title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 17px;
    font-weight: 600;
}

.eem-blog-style-1 .post-title a {
    color: #3a3a3a;
}

.eem-blog-style-1 .post-title a:hover,
.eem-blog-style-1 .post-title a:focus,
.eem-blog-style-1 .post-meta a:hover,
.eem-blog-style-1 .post-meta a:focus {
    color: #e91e63;
}

.eem-blog-style-1 .post-body {
    background: #fff;
    padding: 30px;
}

.eem-blog-style-1 .post-content {
    margin-bottom: 26px;
}

.eem-blog-style-1 .post-content p:last-child {
    margin-bottom: 0;
}

.eem-blog-style-1 .post-item .eem-btn {
    /* padding: 12px 22px; */
    min-width: 130px;
}


/**
* Resister form
*/

.eem-register-style-1 {
    position: relative;
    z-index: 10;
    padding: 100px 0;
    background-color: #E91E63;
    background-image: linear-gradient(35deg, #E91E63 11%, #5828bb 83.4%);
}

.eem-register-style-1:before {
    content: '';
    position: absolute;
    top: 0;
    right: -9px;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: block;
    background-image: url(../../../assets/images/cta_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.4;
}

.eem-register-style-1 .eem-section-heading {
    margin-bottom: 45px;
    text-align: left;
}

.eem-register-style-1 .eem-section-heading .eem-sh-subtitle {
    max-width: 520px;
    color: #fff;
    margin-left: inherit;
}

.eem-register-style-1 .eem-section-heading .eem-sh-title {
    color: #fff;
    margin-bottom: 25px;
}

.eem-register-style-1 .eem-section-heading .eem-sh-tagline {
    margin-bottom: 10px;
    font-style: italic;
    color: #fff;
}

.eem-register-style-1 .join-as-volunteer .eem-btn {
    background-color: #010b42;
    color: #fff;
}

.eem-register-style-1 .join-as-volunteer {
    margin-top: 45px;
}

.eem-register-style-1 .pb-row {
    align-items: center;
}

.eem-register-style-1 .eem-register-form .form-fields-wrap {
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
}

.eem-register-style-1 .eem-register-form .form-group {
    margin-bottom: 15px;
}

.eem-register-style-1 .eem-register-form .form-group:last-child {
    margin-bottom: 0;
    margin-top: 30px;
}

.eem-register-form .form-control {
    display: block;
    width: 100%;
    height: 46px;
    padding: .375rem .75rem;
    font-size: 14px;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.eem-register-style-1 .eem-register-form label {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 6px;
}

.eem-register-style-1 .eem-register-form .eem-btn {
    height: 46px;
    line-height: 46px;
    padding: 0 15px;
    width: 100%;
}


/**
* Responsive
*/

@media ( max-width: 991px ) {
    .eem-pricing-style-1 .pb-row,
    .eem-blog-style-1 .pb-row {
        -webkit-justify-content: center;
        justify-content: center;
    }
}

@media ( max-width: 767px ) {
    .eem-cta-style-1 .eem-cta-wrap {
        display: block;
        text-align: center;
    }

    .eem-cta-style-1 .eem-cta-content,
    .eem-register-style-1:before {
        max-width: 100%;
        margin-bottom: 30px;
    }
}